* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e4f4f;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.burger {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Mode */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #2e4f4f;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 1rem;
    border-radius: 8px;
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
  }

  .burger {
    display: block;
  }
}


/* body start */
body {

  background-image: url('images/back4.avif');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 50px;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.product-form {
  display: flex;
  flex-direction: column;
}

#greenproduct {
  color: rgb(103, 174, 31);
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #444;
}

input,
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #2b4b36;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}