<footer style="margin-top: 30px;">
  <div class="container">
    <div>
      <h3>EcoNest</h3>
      <p>Committed to sustainable shopping<br>with transparency in</p>
    </div>
    <div>
      <h3>Links</h3>
      <p>support@coshop.com</p>
    </div>

    <div>
      <h3>Team Member</h3>
      <p>Dhruva Keshav</p>
      <p>Ishika Bansal</p>
      <p>Gagandeep Singh</p>
    </div>
    <div>
      <h3>Team Name</h3>
      <p>ZeroAmbiguity</p>
    </div>
  </div>
</footer>