<header>

  <div class="navbar">
    <div class="logo"><img class="logo-img" src="/images/logo.jpeg" alt="EcoNest"></div>

    <!-- Burger Icon -->
    <div class="burger" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>

    <!-- Navigation Links -->
    <nav class="nav-links" id="nav-links">
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/cart">Cart</a>
      <a href="host/add-product">Add Product</a>
      <a href="host/product-lists">Host List</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
    </nav>
  </div>
</header>