<header>

  <div class="navbar">
    <div class="logo"><img class="logo-img" src="/images/logo.jpeg" alt="EcoNest"></div>

    <!-- Burger Icon -->
    <div class="burger" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>

    <!-- Navigation Links -->
    <nav class="nav-links" id="nav-links">
      <a href="/">Home</a>
      <% if(isLoggedIn) { %>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="host/add-product">Add Product</a>
        <a href="host/product-lists">Host List</a>
        <% } %>

          <% if(!isLoggedIn) { %>
            <a href="/login">Login / SignUp</a>
            <% } else {%>
              <form action="/logout" method="POST">
                <button type="submit"
                  style="background-color: #2f4f4f; color: #ffffff; border: none; font-size: 16px;">Logout</button>
              </form>
              <% } %>
    </nav>
  </div>
</header>